{% extends "blog/base.html" %}

{% block content %}

    <div class="content-section">
        <p><b>The GIS Dojo</b> is a blog that provides various information on Geographic
            Information Science.It is curated by David Munyiri with the help of various contributors. </p>
        <p>David holds a bachelors degree in Geospatial Information Science with IT from Maseno University.
            While undertaking his undergraduate studies in  the field of Geospatial Information  Sciences (GIS) at  the university ,
            he gained  in-depth  knowledge in  the use and application of GIS  in the development  of spatial  interventions for projects.</p>
        <p>Skilled in:
         <ul>
            <li>GIS data collection</li>
            <li>GIS data input</li>
            <li>GIS visualization</li>
            <li>spatial analysis</li>
            <li>network analysis </li>
            <li>Web mapping </li>
            <li>Programming (Python,Django,GeoDjango,HTML,CSS,Bootstrap,Leaflet) </li>
        </ul></P>
            <P>Mastery of ArcGIS Platforms (Desktop, Online and Server), GPS, QGIS, Google Earth and Microsoft Office User Specialist
            (MS Word, Excel, PowerPoint, Access) </p>

    </div>
{% endblock content %}